<!-- container for dashboard user posts for editing -->
<article class="post border custom-border-color border-3 rounded my-2">
    <div class="custom-bg d-flex flex-column p-2 px-4">
        <a href="/dashboard/edit/{{id}}" class="text-decoration-none text-white fw-semibold fs-4">
            {{title}}
        </a>
        <div class="creator-info">
            Posted on {{format_date created_at}}
        </div>
    </div>
</article>