<!-- edit post form -->
<section>
    <form id="edit-post-form" class="border border-dark border-3 rounded my-2">
        <div class="fw-bold fs-3 text-bg-dark p-2 ps-4">
            Edit Post
        </div>
        <div class="m-4 fs-5 fw-semibold d-flex flex-column">
            <label for="post-title" class="form-label fs-4">Title</label>
            <input type="text" id="post-title"  name="post-title" value="{{post.title}}" class="border border-dark border-2 rounded fw-semibold p-2"/>
            <label for="post-content" class="form-label fs-4">Content</label>
            <textarea id="post-content" name="post-content" class="border border-dark border-2 rounded fw-semibold p-2">{{post.content}}</textarea>
            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary btn-lg fw-semibold">Update Post</button>
            </div>
            <div class="d-grid mt-3">
                <button type="button" id="delete-post-btn" class="btn btn-primary btn-lg fw-semibold">Delete Post</button>
            </div>
        </div>
    </form>
</section>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>