<form class="border border-dark border-3 rounded my-2 w-50 mx-auto">
    <div class="fw-bold fs-3 text-bg-dark p-2 ps-4">
        Login
    </div>
    <div class="m-4 fs-5 fw-semibold">
        <div>
            <label for="username-login" class="form-labe fs-4">Username</label>
            <input type="text" id="username-login" class="form-control border border-3 border-dark"/>
        </div>
        <div>
            <label for="password-login" class="form-label fs-4">Password</label>
            <input type="text" id="password-login" class="form-control border border-3 border-dark"/>
            <div class="form-text">
                Your password must be at least 4 characters long.
            </div>
        </div>
        <div class="d-grid my-2">
            <button type="submit" class="btn btn-primary btn-lg fs-5 fw-semibold">Login!</button>
        </div>
        <a href="" class="text-decoration-none">Sign up instead!</a>
    </div>
</form>