<!-- Login Form -->
<form id="login-form" class="border border-dark border-3 rounded my-2 mx-auto">
    <div class="fw-semibold fs-3 text-bg-dark p-2 px-4">
        Login
    </div>
    <div class="mx-4 my-2 fw-semibold">
        <div>
            <label for="username-login" class="form-label fs-5 fw-semibold">Username</label>
            <input type="text" id="username-login" class="form-control border border-2 border-dark fs-5 fw-semibold"/>
        </div>
        <div>
            <label for="password-login" class="form-label fs-5 fw-semibold mt-2">Password</label>
            <input type="password" id="password-login" class="form-control border border-2 border-dark fs-5"/>
        </div>
        <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary btn-lg fw-semibold rounded-pill">
                <i class="bi bi-box-arrow-in-right"></i>
                Login
            </button>
        </div>
        <button id="signup-link" class="btn btn-link fs-5 fw-semibold">Sign up instead!</button>
    </div>
</form>

<!-- Sign Up Form -->
<form id="signup-form" class="border border-dark border-3 rounded my-2 mx-auto d-none">
    <div class="fw-semibold fs-3 text-bg-dark p-2 px-4">
        Sign Up
    </div>
    <div class="mx-4 my-2 fw-semibold">
        <div>
            <label for="username-signup" class="form-label fs-5 fw-semibold">Username</label>
            <input type="text" id="username-signup" class="form-control border border-2 border-dark fs-5 fw-semibold"/>
        </div>
        <div>
            <label for="password-signup" class="form-label fs-5 fw-semibold mt-2">Password</label>
            <input type="password" id="password-signup" class="form-control border border-2 border-dark fs-5"/>
            <div class="form-text">
                Your password must be at least 4 characters long.
            </div>
        </div>
        <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary btn-lg fw-semibold rounded-pill">
                <i class="bi bi-box-arrow-in-right"></i>
                Sign Up
            </button>
        </div>
        <button id="login-link" class="btn btn-link fs-5 fw-semibold">Login instead!</button>
    </div>
</form>

<script src="/javascript/login.js"></script>