<!-- import post-info partial -->
{{> post-info post}}

<!-- conditionally render element -->
{{#if loggedIn}}
<!-- add comment form -->
<form id="comment-form" class="border border-dark border-3 rounded my-2 mt-3">
    <div class="m-4 fs-5 fw-semibold d-flex flex-column">
        <label for="comment-textarea" class="form-label fs-4">Comment</label>
        <textarea id="comment-textarea" name="comment-textarea" class="border border-dark border-2 rounded fw-semibold p-2"></textarea>
        <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary btn-lg fw-semibold">
                <i class="bi bi-chat-left-text"></i>
                Comment
            </button>
        </div>
    </div>
</form>
{{/if}}

<!-- import comments partial -->
{{> comments post.comments}}

<!-- conditionally render script -->
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}