<!-- import post-info partial -->
{{> post-info post}}

<!-- conditionally render element -->
{{#if loggedIn}}
<!-- add comment form -->
<form id="comment-form" class="border border-dark border-3 rounded my-2 mt-3">
    <div class="mx-4 mt-2 mb-3 fw-semibold">
        <div>
            <label for="comment-textarea" class="form-label fs-5 fw-semibold">Comment</label>
            <textarea id="comment-textarea" name="comment-textarea" class="form-control border border-2 border-dark fs-5 fw-semibold"></textarea>
        </div>
        <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary btn-lg fw-semibold rounded-pill">
                <i class="bi bi-chat-left-text"></i>
                Comment
            </button>
        </div>
    </div>
</form>
{{/if}}

<!-- import comments partial -->
{{> comments post.comments}}

<!-- conditionally render script -->
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}