:root {
    --primary-color: #003566;
    --secondary-color: #003566;
    --tertiary-color: #f5f7f3;
    --shade-color: #24212E;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--shade-color);
    font-family: 'Noto Sans', sans-serif;
    background: url(../images/body-bg.png) no-repeat fixed center;
    background-size: cover;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid #acb0b4;
}

.custom-bg {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

.custom-border-color {
    border-color: var(--secondary-color)!important;
}

.nav-item {
    color: #acb0b4;
    margin: 0 1.5rem;
}

.nav-item:hover, .nav-item button:hover {
    color: white;
}

#logout {
    font-size: 20px;
}

h1 {
    background: url(../images/header-bg.jpg) no-repeat center;
    background-size: cover;
}

h1 a {
    margin: 0.5rem 3rem;
    font-family: 'Source Code Pro', monospace;
}

h1 .nav-link {
    font-size: 3rem;
    color: white;
    text-shadow: 3px 3px 10px black; 
}

h1 .nav-link:hover {
    color: white;
}

main {
    flex: 1;
    width: 1236px;
    padding: 24px 48px;
    transition: all .2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
}

main ul {
    list-style: none;
}

#login-form, 
#signup-form, 
.post-section, 
#post-form,
#comment-form,
.comment, 
#edit-post-form {
    background-color: white;
}

#signup-form, #login-form {
    max-width: 30rem;
}

#signup-link, #login-link {
    padding: 0 0.25rem;
}

#comment-form textarea, 
#post-form textarea, 
#edit-post-form textarea {
    min-height: 10vh;
}

.creator-info {
    font-size: 16px;
}

.new-post-btn, .cancel-post-btn {
    max-width: 270px;
}

@media screen and (max-width: 1400px) {
    main {
        width: 70%; 
    }
}

@media screen and (max-width: 992px) {
    main {
        width: 80%; 
    }

    #comment-form textarea, 
    #post-form textarea, 
    #edit-post-form textarea {
        min-height: 14vh;
    }
}

@media screen and (max-width: 576px) {
    main {
        width: 90%; 
        padding: 12px 24px;
    }

    h1 a {
        margin: 0.5rem auto;
    }

    h1 .nav-link {
        font-size: 2.5rem;
    }

    .nav-item {
        margin: 0 2vw;
    }

    .nav-item, #logout {
        font-size: 18px;
    }
}